<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobgen.halo.android.social">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/halo_social_facebook_client" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <activity
            android:name=".providers.google.HaloGoogleSignInActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".providers.facebook.HaloFacebookSignInActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".authenticator.AuthService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/halo_authenticator"/>
        </service>

    </application>

</manifest>
